
// Top widget
.topwidget{
	.fa,.fas{
		font-size: 3em;
	}
	.topwidget-list .region .block{
		position: relative;

		p:last-child{
			margin: 0;
		}
	}
	img{
		border: 1px solid #eee;
	}
	ul{
		margin: 0;
		padding: 0;

		li{
			list-style: none;
		    padding-bottom: 6px;
		    margin-bottom: 6px;
		    border-bottom: 1px solid #dddddd42;
		}
	}
}

.contact-message-feedback-form {
	.form-text, 
	.form-email, 
	.form-textarea{ 
		width: 100%; 
	}
}

// User login form
.user-login-form,
.user-form,
.user-pass{
	max-width: 500px;
    margin: 40px auto;
    border: 1px solid #e6e6e6;
    padding: 5px 20px;
    background: #fdfdfd;

	.form-text,
	.form-email{
		width: 100%;
	}
}

.form-composite > .fieldset-wrapper > .description, 
.form-item .description {
	color: #999;
	font-style: italic;
}

// Maintenance
.maintenance-page{
	background: image-url("maintenance-bg.png") #66CBFF center no-repeat;
	color: #fff;
	text-align: center;
	padding-top: 220px;
	padding-bottom: 100px;
	color: #000;

	.brand,
	.name-and-slogan{
		display: inline-block;
		vertical-align: middle;
	}

	.site-name a{
		color: #404040;
	}

	.site-slogan,
	.name-and-slogan{
		display: none;
	}
}

.maintenance-msg {
	margin: 20px 0;
	padding: 20px 30px;
	display: inline-block;
	color: #404040;
	border: 1px solid #fff;
	background: rgb(242, 244, 207);
	background: rgba(242, 244, 207, 0.88);
	@include box-shadow (5px 5px 0px #fff);

 	h1{
	  text-transform: uppercase;
	  font-weight: bold;
	}
}

// Profile page
.path-user{

	.profile {

		> div{
			display: inline-block;
		}

		.label{
		  display: block;
		  color: #333;
		}
	}
}

.view-article{
	img{
		height: auto;
	}

	.article-list{
		float: left;
		width: 24%;
		background-color: #FFF;
		border: 1px solid #e7e7e7;
		padding: 15px;
		margin-bottom: 10px;
	}
}

.path-taxonomy,
.path-frontpage{
	.main-content{
		.views-element-container{
			.views-row{
				float: left;
				width: 100%;
				background-color: #FFF;
				border: 1px solid #e7e7e7;
				padding: 15px;
				margin-bottom: 10px;
				position: relative;

				h2{
					margin: 0 0 10px 0;
				}
				img{
					width: 100%;
					height: auto;
				}
				.field {
					margin-bottom: 10px;
				}
				.field--name-field-featured{
					position: absolute;
					right: 0px;
					top: 0px;
					background: #d33;
					padding: 1px 5px;
					color: #fff;
					font-size: .8em;
				}
			}

			.node__links{
				ul{
					margin: 0;
					li{ margin-bottom: 10px; }
					.node-readmore{ display: none; }
				}
			}
		}

		.field--name-field-category{
			.field__item{
				display: inline-block;
			}
			a{
				background: #e6c55c;
				color: #000;
				padding: 5px 9px;
				display: inline-block;
				border-radius: 4px;
				text-transform: uppercase;
				font-size: .89em;
				line-height: 100%;
			}
		}
	}
}

.view-featured{
	.views-row{
		background-color: #fff;
		border: 1px solid #e7e7e7;
		padding: 15px;
		margin-bottom: 10px;

		h2, h3{
			margin-top: 0;
		}
		p {
			margin: 0;
		}
		img{
			width: 100%;
			height: auto;
		}
	}

}

.path-contact .content_layout,
.not-front .content_layout{
	max-width: 800px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid #e7e7e7;
	padding: 20px;
}