
// Flexslider
.flexslider {
	border: 0;
	max-width: 100%;
	margin: 0;
	overflow: hidden;
	@include box-shadow(none);
	@include border-radius(0px);

	.slider-caption{
	    position: absolute;
		top: 2%;
		left: 2%;
      	width: 96%;
	    z-index: 99;
	    text-align: left;
	    line-height: 150%;
		padding: 10px;
		text-align: center;
		background: none;
	}

	.slider-title{
		font-size: 1.5em;
		font-weight: 600;
		padding: 10px;
	}

	.slider-description{
		display: inline-block;
		clear: both;
	}

	.slides{
		li{
			position: relative;
			&:after{
				content:"";
				position: absolute;
				top: 0;
				right: 0;
				left: 0;
				bottom: 0;
				@include transition(all 2s);
			}
		}
	}

	.flex-direction-nav{
		display: none;
		position: absolute;
		top: 50%;
		width: 100%;

		li{
			list-style: none;
		}
		a{
			font-size: 0;
			padding: 10px;
			
    		&:before,
    		&:after{
    			color: #3c5a6d;
    		}
		}
	}

	.flex-control-paging li a {
	    width: 10px;
	    height: 10px;
	    display: block;
	    background: #fff;
	    cursor: pointer;
	    text-indent: -9999px;
	    @include border-radius(0);

	    &.flex-active{
			background: $linkColor;
	    }
	}

	.flex-control-nav{
		bottom: 0;
	}

}